<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <article class="tweet clearfix">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- 
      this may be a clearfix parent collapse, but it turns html non semantic
      <div class="clear"></div>
      -->
      <!-- 
      <p class="clear">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum saepe
        deleniti quidem qui illum perspiciatis assumenda fugit odio, sed est
        veniam nihil voluptatibus consequatur mollitia, nulla in nemo nisi!
        Dolorum modi doloremque amet accusamus fugiat? Sint odio dolores facere.
        Ducimus excepturi neque eaque rem dolores praesentium, voluptatibus
        aliquid quis labore.
      </p> 
      -->
    </article>
  </body>
</html>
