<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="container">
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis
          doloribus sit a! Ullam impedit quia, dolore rem, sunt distinctio
          placeat tenetur reiciendis nemo saepe quasi facere blanditiis neque
          sequi!
        </p>
      </div>
      <div class="box">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          aliquid? Consectetur id ab exercitationem doloremque incidunt quas
          iusto quibusdam fugiat quasi voluptas quo expedita eligendi,
          aspernatur facilis eaque, ratione dolore!
        </p>
      </div>
    </div>
  </body>
</html>
